<div class="jumbotron">
  <h1>Handcrafted items from <br/> around the world.</h1>
  <h2>Discover one-of-a-kind items</h2>
</div>

<div class="center">
<div class="row">
  <% @listings.each do |listing| %>
    <div class="col-md-3">
      <div class="thumbnail">
        <%= link_to image_tag(listing.image.url), listing %>
        <div class="caption">
          <h4><strong><%= listing.name %></strong></h4>
          <p><%= number_to_currency(listing.price) %></p>
          Sold by <strong><%= "#{listing.user.name}" %></strong>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>  
<br/>
<div class="center">
  <%= will_paginate @listings, renderer: BootstrapPagination::Rails %>
</div>
<br/>
<% if user_signed_in? %>
<%= link_to new_listing_path, class: "btn btn-primary active", data: { no_turbolink: true } do %>
    <i class="glyphicon glyphicon-plus"></i> New Listing
  <% end %>
<% end %>
