<div class="row">
  <div class="col-md-6">
    <div class="thumbnail">
      <%= image_tag @listing_decorator.image.url %>
    </div>
  </div>
  <div class="col-md-6">
    <h4><strong><%= @listing_decorator.name %></strong></h4>
    <p><%= number_to_currency(@listing_decorator.price) %>   <small><%= @listing_decorator.display_in_stock %></small></p>
    <%= @listing_decorator.description %>
    <br/><br/>
    <div class="star-rating" data-score= <%= @avg_rating %> ></div> 
    <%= "#{@reviews.length} reviews" %> 
    <% if current_user != @listing.user %>
    <% if @listing_decorator.in_stock? %>
    <br/>
    <div class="center">
<!--      
      <%= link_to "Buy It Now", new_listing_order_path(@listing), class: "btn btn-primary", data: { no_turbolink: true } %>
-->
      <%= link_to new_listing_order_path(@listing), class: "btn btn-primary active", data: { no_turbolink: true }  do %>
          <i class="glyphicon glyphicon-shopping-cart"></i> Buy It Now
      <% end %>
    </div>
    <% end %>
    <br/>    
    <div class="center">
      <%= link_to new_listing_review_path(@listing), class: "btn btn-primary active", data: { no_turbolink: true }  do %> 
          <i class="glyphicon glyphicon-plus"></i> New Review
      <% end %>
    </div>
    <% if @reviews.blank? %>
    <br/>
    No reviews yet. Be the first to write one!
    <% end %>
    <% end %>    
    
    <% if @reviews.any? %>
      <br/><br/>
      <p><strong>The latest 5 reviews:</strong></p>
      <table class="table">
        <thead>
          <tr>
            <th class="col-md-3">Reviewed By</th>
            <th class="col-md-9">Rating & Comments</th>
          </tr>
        </thead>
        <tbody>
          <% @reviews = @reviews.limit(5) %>
          <% @reviews.each do |review| %>
          <tr>
            <td>
              <strong><%= "#{review.user.name}" %></strong><br/>
              on <%= review.created_at.strftime("%-m/%-d/%-y") %>
              <br/>
              <%= timeago(review.created_at) %>
            </td>            
            <td>
              <div class="star-rating" data-score= <%= review.rating %> ></div>
              <br/>
              <%= h(review.comment).gsub(/\n/, '<br/>').html_safe %>
              <br/>
              <% if user_signed_in? %>
                <% if (review.user == current_user) || (current_user.admin?) %>
                  <%= link_to "Edit", edit_listing_review_path(@listing, review), class: "btn btn-link" %>
                  <%= link_to "Delete", listing_review_path(@listing, review), method: :delete, class: "btn btn-link"%>
                <% end %>
              <% end %>              
            </td>
          </tr>
          <% end %>
        </tbody>
    </table>    
    <% end %>
    
  </div>
</div>

<% if current_user == @listing.user %>
  <%= link_to 'Edit', edit_listing_path(@listing), class: "btn btn-link" %> |
<% end %>
<%= link_to 'Back', listings_path, class: "btn btn-link" %>

<script>
  <% if Rails.env.development? %>
  $('.star-rating').raty({
    path: '/assets',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
  <% else %>
  $('.star-rating').raty({
    path: 'https://s3.amazonaws.com/setsy/images',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
    
  <% end %>  
</script>