<%= form_for(@user, url: update_recipient_path, html: {id: 'new_recipient', method: :patch}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation" class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>      
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="stripe_error" class="alert alert-danger" style="display:none">
    <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
  </div>
  <br>

  <div class="form-group">
    <%= label_tag :country %>
    <%= text_field_tag :country, nil, { :placeholder => 'US', :name => nil, :'data-stripe' => "country", class: "form-control" } %>
  </div>
  <div class="form-group">
    <%= label_tag :routing_number %>
    <%= text_field_tag :routing_number, nil,  { :placeholder => '111000025', :name => nil, :'data-stripe' => "routingNumber", class: "form-control" } %>
  </div>
  <div class="form-group">
    <%= label_tag :account_number %>
    <%= text_field_tag :account_number, nil,  { :placeholder => '000123456789', :name => nil, :'data-stripe' => "accountNumber", class: "form-control" } %>
  </div>

  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>

<% end %>
