<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th class="center">User</th>
      <th class="center">Is admin role?</th>
      <th class="center">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>  
        <td><div class="center"><%= user.admin %></div></td>
        <td>
          <div class="center">
            <%= link_to 'Set user admin role', edit_user_path(user), class: "btn btn-link" %>
          </div>  
        </td> 
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
<div class="center">
  <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
</div>
<br/>

