<div class="center">
  <h2>Order Summary</h2>
</div>

<table class="table table-striped table-bordered">
  <tr>
    <th class="center">Date Purchased</th>
    <th class="center">Order #</th>
    <th class="center">Image</th>
    <th class="center">Item</th>
    <th class="center">Price</th>
    <th class="center">Quantity</th>
    <th class="center">Total</th>
    <th class="center">Seller</th>
  </tr>

    <tr>
      <td class="center"><%= order.created_at.strftime("%B %-d, %Y") %></td>
      <td class="center"><%= order.id %></td>
      <td class="center"><%= image_tag order.listing.image.url(:thumb) %></td>
      <td class="center"><%= order.listing.name %></td>
      <td class="text-right"><%= number_to_currency(order.listing.price) %></td>
      <td class="text-right"><%= order.qty_ordered %></td>
      <td class="text-right"><%= number_to_currency(order.total_amount) %></td>
      <td class="center"><%= order.seller.name %></td>
    </tr>
  
</table>

<p>
<h4>Shipped to:</h4>
<strong><%= user.name %></strong><br/>
<%= raw order.address_display %>
<br/>
Order confirmation sent to <%= user.email %><br />
</p>
