<div class="center">
  <h2>Your Sales History</h2>
</div>

<table class="table table-striped table-bordered">
  <tr>
    <th class="center">Date Sold</th>
    <th class="center">Order #</th>
    <th class="center">Image</th>
    <th class="center">Item</th>
    <th class="center">Price</th>
    <th class="center">Quantity</th>
    <th class="center">Total</th>
    <th class="center">Customer</th>
  </tr>

  <% @orders.each do |order| %>
    <tr>
      <td class="center"><%= order.created_at.strftime("%B %-d, %Y") %></td>
      <td class="center"><%= link_to order.id.to_s, receipt_path(order), class: "btn btn-link" %></td>
      <td class="center"><%= image_tag order.listing.image.url(:thumb) %></td>
      <td class="center"><%= order.listing.name %></td>
      <td class="text-right"><%= number_to_currency(order.listing.price) %></td>
      <td class="text-right"><%= order.qty_ordered %></td>
      <td class="text-right"><%= number_to_currency(order.total_amount) %></td>
      <td class="center"><%= order.buyer.name %></td>

    </tr>
  <% end %>
</table>

<br/>
<div class="center">
  <%= will_paginate @orders, renderer: BootstrapPagination::Rails %>
</div>
<br/>


