
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th class="center">Category</th>
      <th class="center">Status</th>
      <th class="center">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.category %></td>               
        <td class="center"><%= category.active %></td>               
        <td>
          <div class="center">
          <!-- <%= link_to 'Show', category, class: "btn btn-link" %> | -->
          <%= link_to 'Edit', edit_category_path(category), class: "btn btn-link" %>
          </div>  
        </td> 
        <!--
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %></td>
        -->
      </tr>
    <% end %>
  </tbody>
</table>

<br/>
<div class="center">
  <%= will_paginate @categories, renderer: BootstrapPagination::Rails %>
</div>
<br>
  <%= link_to new_category_path, class: "btn btn-primary", data: { no_turbolink: true } do %>
    <i class="glyphicon glyphicon-plus"></i> New Category
  <% end %>
