<%= form_for([@listing,@review]) do |f| %>
  <% if @review.errors.any? %>
     <div id="error_explanation" class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
      </button>

       <h4><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h4>
        <ul>
          <% @review.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
  <% end %>

  <div id="star-rating"></div>
  <br/>
  <div class="form-group">
    <%= f.label :comment %>
    <%= f.text_area :comment, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-primary"%>
  </div>
<% end %>
<script>
  <% if Rails.env.development? %>
  $('#star-rating').raty({
    path: '/assets',
    scoreName: 'review[rating]'
  });
  <% else %>
  $('#star-rating').raty({
    path: 'https://s3.amazonaws.com/setsy/images',
    scoreName: 'review[rating]'
  });
  <% end %>  
</script>