<br/>
<div class="center">
  <p><strong>Copyright <i class="glyphicon glyphicon-copyright-mark"></i> 2018 SEtsy</strong> by <strong>Daniel Ha</strong><br/>
    <strong>Powered by</strong><br/> 
    <strong>Rails <%= Rails::VERSION::STRING %>, Bootstrap 3.2.0 and Stripe <%= Gem.loaded_specs["stripe"].version.to_s %></strong></p>
  <%= social_share_button_tag("SEtsy", :url => "http://setsy.herokuapp.com") %>
</div>
